* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  height: 100%;

  --font-color: rgb(38, 38, 38);
  --background-color: rgb(250, 250, 250);
  --form-background: rgb(255, 255, 255);
  --border-color: #cccccc;
  --user-text-color: #888888;
  --button-color: rgba(178, 223, 252, 255);
  --create-account: rgb(0, 149, 246);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 14px;
  line-height: 1.125rem;
  background-color: var(--background-color);
  height: 100%;
  overflow-y: scroll;
}

main,
article {
  display: flex;
  width: 100%;
}

main {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

main article {
  align-items: center;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

main article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#smartphone {
  position: relative;
}

@keyframes circle-t {
  0% {
    background-image: url('./src/img/img-1.png');
  }

  45% {
    background-image: url('./src/img/img-3.png');
  }

  75% {
    background-image: url('./src/img/img-3.png');
  }

  100% {
    background-image: url('./src/img/img-4.png');
  }
}

.photo {
  position: absolute;
  top: 25px;
  right: 60px;
  width: 248px;
  height: 540px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  animation: circle-t 10s infinite linear;
}

.login-section {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  border: 1px solid var(--border-color);
  background-color: var(--form-background);
}

#login {
  position: relative;
  left: -0.8rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  user-select: none;
  padding: 1rem 0;
}

#login .logo {
  width: 60%;
  margin: 3rem 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.login > div {
  min-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login .user-credential {
  margin-bottom: 0.4rem;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  height: 2.7rem;
  padding: 0 0.5rem;
  color: var(--user-text-color);
  border-radius: 0.25rem;
  background-color: var(--background-color);
  font-size: 12px;
}

.user-credential label,
.user-credential input {
  width: 100%;
}

.user-credential input {
  padding: 0 0.6rem;
  background-color: transparent;
  position: absolute;
  left: 0;
  height: 100%;
  line-height: 1.5rem;
  outline: none;
}

.login .login-button {
  background-color: var(--button-color);
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.5rem 0;
  line-height: inherit;
  border-radius: 0.3rem;
  margin: 0.6rem 0 0.3rem 0;
}

.division {
  color: #888888;
  display: flex;
  flex-direction: row;
  margin: 1rem 0 0.3rem 0;
  user-select: none;
}

.division hr {
  border-top: 1px solid #cccccc;
  flex-grow: 1;
}

.division hr:first-child {
  margin-right: 1.3rem;
}

.division hr:last-child {
  margin-left: 1.3rem;
}

.facebook {
  display: flex;
  flex-direction: row;
  background-color: var(--form-background);
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: rgba(56, 81, 133, 255);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.facebook img {
  width: 1.1rem;
  margin-right: 0.5rem;
}

.facebook span {
  padding-top: 0.05rem;
}

.login a {
  color: rgba(56, 81, 133, 255);
  text-decoration: none;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: small;
}

#register {
  margin: 0.8rem 0;
  padding: 1.5rem 0;
}

#register p a {
  text-decoration: none;
  color: var(--create-account);
  font-weight: 600;
}

#get-app {
  display: flex;
  flex-direction: column;
}

#get-app p {
  text-align: center;
  font-size: 14px;
  padding: 0.8rem 0;
}

.app-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.8rem;
}

.app-options a {
  text-decoration: none;
  margin: 0 0.3rem;
}

.app-options img {
  width: 9.9rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #888888;
  font-size: 12px;
  padding-bottom: 3.5rem;
}

footer a {
  color: inherit;
  text-decoration: none;
  margin: 0 0.6rem;
}

footer div {
  margin: auto;
  margin-bottom: 1rem;
}

footer div:last-child {
  margin-top: 0.3rem;
}

footer div:last-child select {
  margin: 0 1rem;
  background-color: transparent;
  color: inherit;
  width: 7.7rem;
}

@media screen and (max-width: 992px) {
  body {
    justify-content: space-between;
  }

  #smartphone {
    display: none;
  }

  #login {
    left: 0;
  }

  .login-section {
    border: none;
    background-color: transparent;
  }

  .facebook {
    background-color: transparent;
  }

  #register {
    margin: 3.5rem 0;
  }

  footer {
    margin: 3.2rem 0;
    padding: 0;
  }

  footer div {
    text-align: center;
    flex-wrap: wrap;
    padding: 0 0.7rem;
    margin: 0;
  }

  footer div:last-child {
    margin-top: 1rem;
  }

  footer div a {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
}
