* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  height: 100%;

  --font-color: rgb(38,38,38);
  --background-color: rgb(245, 245, 245);
}

body {
  font-size: 0.875rem;
  line-height: 1.125rem;
  background-color: var(--background-color);
  height: 100%;
}